body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

#buttons {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

button {
    margin: 0px 30px;
    padding: 5px 20px;
    margin: 
}

#sketchArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    height: 960px;
    width:960px;
    border: 2px solid red;
    border-radius: 8px;;
}

.gridRow {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
}

.gridBox {
  }